# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TelegramBotOne.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Олег Фор\source\repos\TelegramBotOne\.idea\.idea.TelegramBotOne\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
